@import url("./reset.css");
@import url("./variables.css");

/* Cart*/

main {
    min-width: 350px;
}

.order-summary__details {
    background-color: #EBE5FC;
    color: #000276;
}

.billing__details, .order-summary__details {
    box-sizing: border-box;
    text-align: left;
    padding: 16px;
    margin: 16px auto;
}

.billing__details {
    color: #000276;
    background-color: #EBE5FC;
}

fieldset div{
    padding: 16px 0;
}
  
input, 
select, 
textarea{
    border: 1px solid #000276;
    color: #000276;
    font-size: larger;
    font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif; 
    margin: 0;
    padding: 16px;
    width: 100%;
    border-radius: 20px;
}

fieldset {
    padding: 24px;
}
  
.submit-order {
    display: flex;
    justify-content: center;
    margin: 16px auto;
}

@media (min-width: 720px) {
    .cart {
        display: flex;
        flex-direction: row-reverse;
        gap: 16px;
        width: 100%;
        margin: 16px auto;
    }

    .order-summary, .billing {
        width: 50%;
      }

      .billing__details, .order-summary__details {
        padding: 20px;
        border-radius: 20px;
      }
}