@import url("./reset.css");
@import url("./variables.css");

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin: 16px auto;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 2px solid var(--color-primary);
    margin-top: 80px;
}

h1 {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.order-summary {
    margin: 20px auto;
}
  
.go-back {
    display: flex;
    justify-content: center;
}

.go-back:hover {
    border: 2px solid var(--color-primary);
}

@media (min-width: 720px) {
    main {
        padding: 40px;
        max-width: 1000px;
    }
}

