@import url("./reset.css");
@import url("./variables.css");

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 80%;
    margin: 16px auto;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: 0.25rem solid var(--color-secondary);
    border-radius: 20px;
}

h1 {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}

.order-summary {
    margin: 20px auto;
}
  
.go-back {
    display: flex;
    justify-content: center;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 20px;
  padding: 4px 24px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 16px auto;
}

.go-back:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

@media (max-width: 1023px) {
  main {
    margin-top: 80px;
  }
}

@media (min-width: 720px) {
    main {
        padding: 40px;
        max-width: 1000px;
    }
}

