@import url("./reset.css");
@import url("./variables.css");

/* Using the same styling as cart */
.cart {
    min-width: 350px;
}

.order-summary__details {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr 2fr 1fr;
    gap: 16px;
    background-color: #EBE5FC;
    color: #000276;
    padding: 20px;
    border-radius: 20px;
}

.order-summary__image {
    max-width: 160px;
}

.checkout-success {
    display: flex;
    justify-content: center;
    margin: 16px auto;
}