*, *:before, *:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  display: grid;
  margin: 0;
  grid-template-rows: auto 1fr auto;
}

main {
  max-width: 1000px;
  width: 95%;
  margin: 0 auto;
  padding-top: 60px;
}

/* Text */
h1, h2, h3, h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  font-weight:bold;
}

h1 {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

h3 {
  font-size: 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

p {
  font-family: Palatino, Palatino Linotype, Palatino LT STD, Book Antiqua, Georgia, serif;
  font-size: 1rem;
  color: var(--color-primary);
}

/* header */
.nav-bar-logo {
  height: 60px;
  width: 120px;
}

header {
  background-color: var(--color-primary);
}
  
/* Navigation */

nav,
#menue-checkbox {
  display: none;
}

.hamburger-icon {
  font-size: 32px;
  display: block;
  color: var(--color-secondary);
  padding: 16px;
  position: absolute; /* or use flexbox on header */
  top: 0px;
  right: 16px; /* Push to the right */
  cursor: pointer;
}

#menue-checkbox:checked ~ nav {
  display: block;
}

nav {
  background-color: var(--color-primary); 
}

nav a {
  text-decoration: none;
  color: var(--color-secondary);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
}

nav a:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}

.nav-active {
  background-color: var(--color-secondary);
  color: var(--color-primary);
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.4);
}

/* Nav on different screens */
@media (max-width: 1023px) {
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }

  nav {
    position: absolute;
    top: 60px; /* Adjust based on header height */
    left: 0;
    width: 100%;
    background-color: var(--color-primary);
    z-index: 999;
  }
    
  nav a {
    display: block;
  }
}

@media (min-width: 1024px) {
  
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
  }

  .hamburger-icon {
    display: none;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  nav a {
    display: inline-block;
    padding: 16px 16px;
  }
}

/* CTA buttons*/
.cta__button {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 20px;
  padding: 4px 24px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 16px auto;
}

.cta__button:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

.add-to-cart {
  background-color: var(--color-primary);
  color: var(--color-secondary);
  border-radius: 20cap;
  border: none;
  padding: 4px 24px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  margin: 16px auto;
}

.add-to-cart:hover {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}

@media (min-width: 720px) {
  .cta__button {
    padding: 10px 24px;
  }
}

/* Forms */
.form__input {
  display: block;
}

/* footer */
footer {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  width: 100%;
  text-align: center;
  padding: 16px;
}

footer a {
  color:var(--color-secondary);
  text-decoration: none;
}

footer p {
  color:var(--color-secondary);
}

/* Alert */ 
.custom-alert {
  position: fixed;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 40px 60px;
  border-radius: 20px;
  border: 2px solid var(--color-primary);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  transition: opacity 0.3s ease;
}

/* Loader */
.loader {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  padding: 10px 60px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}